In [19]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pickle

In [20]:
#reading csv file
df = pd.read_csv('C:/Users/arvee/Desktop/Internship/flask_deploy/washington_state_housing_data.csv')
df.head()

,grade,sqft_above,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_basement,yr_built,zipcode
0,7,1180,221900.0,3,1.00,1180,5650,1.0,0,1955,98178
1,7,2170,538000.0,3,2.25,2570,7242,2.0,400,1951,98125
2,6,770,180000.0,2,1.00,770,10000,1.0,0,1933,98028
3,7,1050,604000.0,4,3.00,1960,5000,1.0,910,1965,98136
4,8,1680,510000.0,3,2.00,1680,8080,1.0,0,1987,98074

In [21]:
y = df['price']
x = df[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'zipcode']]

In [22]:
#defining linear regression model
linear_regression = LinearRegression()

In [23]:
#fitting model
linear_regression.fit(x, y)

LinearRegression()

In [24]:
#filename = 'finalized_model.sav'

In [25]:
#pickle.dump(model, open(filename, 'wb'))
pickle.dump(linear_regression, open('hpp.pkl', 'wb'))

In [18]:
#predicting the value
#y_predict = linear_regression.predict([[3, 2, 1500, 5000, 2, 6, 1100, 500, 1956, 98028]])
#print("Predicted Price = Rs", y_predict[0])